@import "../../../../scss/main.scss";
.myProfileClose {
  display: none;
}
.wrapHeaderMyProfile{
  .myProfile {
    display: block;
    background-color: $WHITE;
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 2;
    bottom: -420px;
    right: 0px;
    img {
      position: absolute;
      top: 25px;
      right: 25px;
    }
    @include flex-row(start);
    &__left {
      background-color: $BLACK;
      width: 170px;
      height: 100%;
      @include flex-col(center, center);
      .profileAvatar {
        width: 80px;
        height: 80px;
        background-color: $WHITE;
        margin-bottom: 20px;
      }
      .profileName {
        width: 120px;
        height: 30px;
        background-color: $WHITE;
      }
    }
    &__right {
      padding: 40px 25px 40px 20px;
      position: relative;

      h3 {
        @include text(40px, 400, $BLACK);
        font-family: Forum;
        letter-spacing: 0.8px;
      }
      ul {
        list-style: none;
      }
    }
  }
}


.wrapDigitalMyProfile{
  background: rgba(142, 142, 142, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  .myProfile {
    display: block;
    background-color: $WHITE;
    width: 600px;
    height: 400px;
    position: fixed;
    z-index: 2;
    left: 35%;
    top: 30%;
    img {
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
    }
    @include flex-row(start);
    &__left {
      background-color: $BLACK;
      width: 170px;
      height: 100%;
      @include flex-col(center, center);
      .profileAvatar {
        width: 80px;
        height: 80px;
        background-color: $WHITE;
        margin-bottom: 20px;
      }
      .profileName {
        width: 120px;
        height: 30px;
        background-color: $WHITE;
      }
    }
    &__right {
      padding: 40px 25px 40px 20px;
      position: relative;

      h3 {
        @include text(40px, 400, $BLACK);
        font-family: Forum;
        letter-spacing: 0.8px;
      }
      ul {
        list-style: none;
      }
    }
  }
}